
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/photostarlogo.png" alt="Photostar Logo" width="40" height="40" class="d-inline-block align-text-top">
        Photostar
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/posts">Home</a>
          <a class="nav-link" href="/posts/new">New post</a>
          <a class="nav-link" href="#">Pricing</a>
        </div>
      </div>
    </div>
  </nav>    
