<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Edit post</title>
</head>

<body>
    <h1>Edit post</h1>
    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <div>
            <label for="imageUrl">image</label>
            <input type="text" id="imageUrl" name="post[imageUrl]" value="<%= post.imageUrl %>">
        </div>
        <div>
            <label for="caption">Caption</label>
            <input type="text" id="caption" name="post[caption]" value="<%= post.caption %>">
        </div>
        <button>Submit update</button>
    </form>
    <a href="/posts/<%= post._id  %>">Back to Post</a>

</body>

</html>