<% layout('layouts/boilerplate.ejs') -%>
<div class="container">

<h1>All posts</h1>
<div>
    <a href="/posts/new">Add post</a>
</div>
<ul>
    <% for (let post of posts) { %>
        <li>
            <img src="<%= post.imageUrl %>" alt="Post Image" style="height: 50px; width: 50px;">
            <p><a href="/posts/<%= post._id %>"><%= post.caption %></a></p>
        </li>
    <% } %>
</ul>
</div>