<% layout('layouts/boilerplate.ejs') -%>
<div class="container">

<h1>All posts</h1>
<div>
    <a href="/posts/new">Add post</a>
</div>
<ul>
    <% for (let post of posts) { %>
        <li>
            <% if (post.images && post.images.length > 0) { %>
                <img src="<%= post.images[0].url %>" alt="Post Image" style="height: 50px; width: 50px;">
            <% } else { %>
                <p>No Image Available</p>
            <% } %>
            <p><a href="/posts/<%= post._id %>"><%= post.caption %></a></p>
        </li>
    <% } %>
    </ul>
</div>
