<% layout('layouts/boilerplate') -%>

    <h1>Add new Post</h1>
    <form action="/posts" method="POST">
        <div>
            <label for="imageUrl">image</label>
            <input type="text" id="imageUrl" name="post[imageUrl]">
        </div>
        <div>
            <label for="caption">Caption</label>
            <input type="text" id="caption" name="post[caption]">
        </div>
        <button>Add Post</button>
    </form>
    <a href="/posts">All Campgrounds</a>

